config.txt
build/
build
∗.exe
bin/∗.exe
temp∗
∗∗/configs
∗∗/configs/local.py
output/∗∗/result.exe
.Rhistory
.DS_Store

/lectures
.Rproj.user
meta_analysis.Rproj

/exercise_sessions/data
/mindset/data
